html {
  background-color: mistyrose;
}

body {
  text-align: center;
}

.title {
  margin: 30px;
  
}

.form {
  margin: 30px;
}

.form input{
  margin: 0 10px 0 10px;
}

.main-card img {
  border-width: 10px;
  border-style: solid;
  border-color: lightpink;
}

.main-card button {
  position: relative;
  left: -45px;
  bottom: 15px;
}

.favorites {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.favcat {
  position: relative;
}
.favcat:hover {
  transform:scale(2.0);
  transition: transform .35s;
  z-index: 2;
}

.favcat img {
  border-style: dashed;
  border-color: rgb(83, 203, 207);
}

.btn {
  position: absolute;
  right: 0px;
}