body {
  text-align: center;
}

.title {
  margin: 30px;
  
}

.form {
  margin: 30px;
}

.form input{
  margin: 0 10px 0 10px;
}

.main-card button {
  position: relative;
  left: -45px;
  bottom: 15px;
}

.favorites {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}